:root {
    --primary: #295F4E;
    --secondary: #6DB193;
    --alternate: #F4E5C2;
    --letra: #ffffff;
  }

.colorPrim {
    background: var(--prim);
}

.banner {
    background: linear-gradient(135deg, var(--primary) 50%, var(--secondary) 100%);
}


ion-icon {
    font-size: 88px;
}

.letraTitle{
    font-size:5rem;
    font-family: "Montserrat";
}
.header{
    position: relative;
    background: url('../assets/images/FondoPrincipal.jpg') no-repeat;
    background-position: center;
    background-size:cover;
    height: 100vh;
    
}
.backGround{
    position: relative;
    background: url('../assets/images/FondoPrincipal2.jpg') no-repeat;
    background-position: center;
    background-size:cover;
    height: 140vh;
    
    
}

.pelota {
    font-size: 4.5rem;
    color: var(--primary);
}

.frase {
    
    color: var(--primary);
    font-weight: bold;
}

.imageCont {
    max-width: 3.5rem;
    border-radius: 3rem;
    display: flex;
    align-self: center;

}

.cardCont {
    background: none;
    border: none;
}

.textCont {
    font-size: 0.8rem;
}