:root {
    --primary: #2fc140;
    --secondary: #71bc1b;
    --alternate: #2192FF;
    
    --letra: #ffffff;
  }


.colorPrim {
    background: var(--secondary);
}

.banner {
    background: linear-gradient(135deg, var(--primary) 50%, var(--secondary) 100%);
}

ion-icon {
    font-size: 88px;
}

.letraTitle{
    font-size:5rem;
    font-family: "copperplate";
}